﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div id="currencyExchangeView" class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>From:&nbsp;</label>
                    <input id="fromValueInput" type="text" class="form-control" data-bind="value:fromValue, events:{change: change}" />

                </div>
                <div id="dropdownlistFrom"></div>
            </div>
            <div class="col-md-2 col-md-offset-3">
                <div class="form-group">
                    <label>To:&nbsp;</label>
                    <input type="text" class="form-control" data-bind="value:toValue" />
                </div>
                <div id="dropdownlistTo"></div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div id="chart_container">
                    <div id="chart"></div>
                    <div id="slider"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.col-lg-6 -->
</div><!-- /.row -->
@section scripts {
    <script src="~/AppFrontend/Controls/RatesDropdownList.js"></script>
    <script src="~/AppFrontend/ViewModels/ExchangeViewModel.js"></script>
    <script src="~/AppFrontend/DataSources/HistoryRatesDataSourceConfig.js"></script>
    <script src="~/AppFrontend/DataSources/ExchangeRatesDataSource.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            // COMMENT:
            // As well as there was no limits of usage of any libraries, especially open source, I use free Kendo Ui for MVVM and ajax request wrappers.
            // Because a familiar with it better, then with knockout or angular.
            // The jQyert.get() could be used insted of kendo request wrappers(datasources) or XMLHttpRequest for pure Javascript

            var historyRateSeries = [{ data: [{ x: 0, y: 0 }], color: "c05020" }];

            var graph = new Rickshaw.Graph({
                element: document.getElementById("chart"),
                width: 989,
                height: 400,
                renderer: 'line',
                series: historyRateSeries

            });

            var hoverDetail = new Rickshaw.Graph.HoverDetail({
                graph: graph,
                xFormatter: function (x) {
                    return new Date(x * 1000);
                }
            });

            var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
                graph: graph
            });

            var axes = new Rickshaw.Graph.Axis.Time({
                graph: graph,
            });

            graph.render();
            axes.render();

            // create a viewmodel for exchange rates
            var exchangeRatesDataSource = new DataSources.ExchangeRatesDataSource();
            var exchangeViewModel = new ViewModels.ExhangeViewModel(exchangeRatesDataSource);
            window.kendo.bind($("#currencyExchangeView"), exchangeViewModel);


            // create hisotry rates data sources
            var historyFromRatesConfig = new DataSources.HistoryRatesDataSourceConfig(graph, historyRateSeries, "#f250c0", 0);
            var historyRatesDataSourceFrom = new window.kendo.data.DataSource(historyFromRatesConfig);

            var historyToRatesConfig = new DataSources.HistoryRatesDataSourceConfig(graph, historyRateSeries, "#3399ff", 1);
            var hisotryRatesDataSourceTo = new window.kendo.data.DataSource(historyToRatesConfig);

            // create UI dropdown to select currency
            var fromDropdownListConfig = new Controls.RatesDropdownList(exchangeViewModel, historyRatesDataSourceFrom, "fromRate");
            var toDropdownListConfig = new Controls.RatesDropdownList(exchangeViewModel, hisotryRatesDataSourceTo, "toRate");

            $("#dropdownlistFrom").kendoDropDownList(fromDropdownListConfig);
            $("#dropdownlistTo").kendoDropDownList(toDropdownListConfig);

            exchangeRatesDataSource.read();
            historyRatesDataSourceFrom.read({ currencyType: "USD" }); // first run

        });

    </script>
}